* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#profile {
  min-height: 100vh;
  width: 100vw;
  background-color: #262629;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

#profile-box {
  position: relative;
}

#profile-edit-icon {
  display: inline-block;
  position: absolute;
  padding: 8px;
  background-color: #E3E3E5;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}

#profile-edit-icon i {
  font-size: 15px;
  color: #000;
}

#profiledets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  gap: 5px;
  text-align: center;
}

#imgbox {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  border: 2px solid white;
}

#imgbox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#profiledets #editbtn {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #403F46;
  width: 100px;
  padding: 9px;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

button {
  background-color: #B81B1B;
  padding: 12px 20px;
  color: #fff;
  border-radius: 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

#cards {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  box-sizing: border-box;
}

.eachcard {
  max-width: 200px;
  width: 100%;
  text-align: center;
}

.card {
  width: 100%;
  aspect-ratio: 4/3;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.eachcard h3 {
  margin-top: 8px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.eachcard h5 {
  font-weight: 300;
  font-size: 13px;
  color: #ccc;
}

@media (max-width: 768px) {
  #cards {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
  }

  .eachcard {
    width: 90%;
    max-width: 300px;
  }

  #imgbox {
    height: 100px;
    width: 100px;
  }

  #profile-edit-icon {
    padding: 6px;
    right: 4px;
    bottom: 4px;
  }

  #profile-edit-icon i {
    font-size: 12px;
  }

  #profiledets #editbtn {
    width: 80px;
    padding: 7px;
  }

  .card {
    aspect-ratio: 4/3;
  }
}
