<%- include('partials/header') %>  


<div class="w-full h-screen bg-[url('https://img.freepik.com/premium-vector/abstract-organic-shape-background-doodle-hand-drawn-background_288796-7397.jpg')]  bg-cover bg-center flex items-center justify-center ">
  <div class="w-[25vw] bg-white px-10 py-10 rounded-[30px]">
    <h1 class="text-3xl text-center font-semibold text-zinc-700 tracking-tighter capitalize leading-none">Welcome to pintrest.</h1>
    <form action="/login" method="post">
      <input class="block border-2 rounded-md w-full mt-2 px-3 py-2 " type="email" name="email" placeholder="email">
      <input class="block border-2 rounded-md w-full mt-2 px-3 py-2 " type="password" name="password" placeholder="password">
      <a class="mt-2 inline-block text-zinc-500 font-semibold" href="#">Forgot password ?</a>
      <input class="block border-2 w-full mt-2 px-3 py-2 bg-red-600 text-white rounded-full w-full " type="submit" value="login">
      <p class="text-xs font-semibold text-zinc-700 mt-7 w-3/4  mx-auto text-center ">By countinuing you agree to pintrest's 
        Terms of servise and acknowledge you've read of privecy policy notice at collection </p>
    </form>
    <a class="inline-block mt-7 text-sm font-semibold text-zinc-700 text-center w-full" href="/register"> Dont have an account ?</a>
  </div>
</div>


<%- include('partials/footer') %>